@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap");

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(63, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    color: #ffffff;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

.container {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    max-width: 80%;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ef45b9;
}

.sub-title {
    margin-bottom: 30px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #121212;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin: 20px 0;
    text-decoration: none;

    p {
        color: #ffffff;
    }

    .cartao {
        padding-left: 5px;
    }

    .Reais {
        padding-left: 13px;
    }
}
